/* Global styles for the entire page */
body, #root, .App {
  /* Set height to 100% to ensure background covers the whole viewport */
  min-height: 100vh;
  /* Use the color of your bottom section */
  background-color: #FFFCF9; 
}

/* Remove default margin that creates scrollbars or extra space */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}